extends layout

block content
  form(action="", method="post")
    h2= title
    ul
      li
        label(for="category-name") Name:
        input(type="text", name="category-name", id="category-name", value=category ? category.name : '')
      li
        label(for="category-description") Description:
        input(type="text", name="category-description", id="category-description", value=category ? category.description : '')
    button Submit

  if errors
    ul
      for error in errors
        li= error.msg
