extends layout

block content
  h2= `Delete Item: ${item.name}`
  p= `Are you sure you want to delete ${item.name}?`
  form(method="post")
    input(type="hidden" name="itemId", value=item._id)
    button Delete
